html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.sub-title {
	font-size: 1.5rem;
	text-align: center;
}

.upper-body {
	display: flex;
	flex-direction: row;
}

.collections-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 30rem;
	border: 1px black solid;
	background-color: lightgray;
}

.collection > h3 {
	font-size: 1.25rem;
	text-align: center;
}

.collections-container > * {
	padding: 1rem;
}

.collection-item {
	margin-top: 15px;
	margin-bottom: 15px;
	cursor: pointer;
	padding: 10px;
	background-color: lightgray;
	border-radius: 5px;
	transition: 0.3s;
}

.collection-item:hover {
	background-color: lightslategray;
}

.request-container {
	width: 100%;
}

.request-url > input {
	width: 80%;
}

.button {
	height: 2rem;
	width: 7rem;
	border: 1px black solid;
	border-radius: 5px;
	outline: none;
	box-shadow: 0 7px lightgray;
	background-color: gray;
	transition: 0.1s;
	cursor: pointer;
	margin-top: 0.25rem;
	margin-bottom: 1rem;
}

.button:active {
	background-color: lightgray;
	box-shadow: 0 5px darkgray;
	transform: translateY(1px);
}

.selected-button {
	background-color: lightgray;
	box-shadow: 0 3px darkgray;
	transform: translateY(4px);
}